<div class="page-header">
    <h3>Dashboard: {{session.username}}</h3>
    <hr>
</div>
<div class="row row-custom">
    <div class="col left">
        <p>/ <span class="asterisk">*</span> INSERT INTO, DELETE FROM THE THE TABLE TO THE RIGHT <span class="asterisk">*</span>/</p>
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        <div class="query-panel">
            <form role="form" action="/dashboard?form=dashboard" method="POST">
                <div class="form-group row">
                    <button type="submit" class="btn btn-default query-btn">DELETE</button>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" 
                                           placeholder="WHERE TANKSTELLEN_ID=?" name="deleteRow">
                    </div>
                </div>
            </form>
            <form role="form" action="/dashboard?form=dashboard" method="POST">
                <div class="form-group row">
                    <button type="submit" class="btn btn-default query-btn">INSERT</button>
                    <div class="col-sm-10">
                        <input type="text" class="form-control text-center" 
                                           placeholder="(TANKSTELLEN_ID,OPERATOR,KRAFTSTOFFTYP,STADT,LAT,LON)"
                                           name="insertRow">
                    </div>
                </div>
            </form>

            <hr>
            <br>
            <p>/<span class="asterisk">*</span>DELETE EXAMPLE: Type the ID number to delete a certain row <span class="asterisk">*</span>/ </p>
            <p>/<span class="asterisk">*</span>INSERT EXAMPLE: Type all the values seperated by comma. <br>
            (eg. 9999,Shell,Gas,Albstadt,49.0,11)<span class="asterisk">*</span>/ </p>
        </div> 

    </div>
    <div class="col right">
        {{#if tankstellen}}
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-light mb-0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">OPERATOR</th>
                            <th scope="col">KRAFTSTOFFTYP</th>
                            <th scope="col">STADT</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tankstellen as |tankstelle|}}
                            <tr>
                                <td>{{tankstelle.tankstellen_id}}</th>
                                <td>{{tankstelle.operator}}</td>
                                <td>{{tankstelle.kraftstofftyp}}</td>
                                <td>{{tankstelle.stadt}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}
    </div>
