<div class="d-flex justify-content-center vertical-center"> 
    <div class="module-border-wrap">
        <div class="module">
            <h2>Tankstellenfinder</h2>
            <br>
            <div class="row">
                <div class="col-4">
                    {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}

                    {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}}
                </div>
            </div>
            <form role="form" action="/standort?form=standort" method="POST" >
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label for="inputKraftstoff">Kraftstoff auswählen:</label>
                        <select id="art" class="form-control bg-dark border-0" name="chosenKraftstoff">
                            <option id="benz" name="Benzin/Diesel" value="Benzin/Diesel">Benzin/Diesel</option>
                            <option id="gas"  name="Gas" value="Gas">Gas</option>
                            <option id="elek" name="Elektro"value="Elektro">Elektro</option>
                        </select>
                    </div>
                    <div class="col-auto my-5">
                    </div>
                    <div class="col-auto my-1">
                        <label for="inputKraftstoff">...und bestätigen!</label>
                        <button type="submit"  class="btn btn-primary form-control">Los</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
            {{#if tankstellen}}
                <table id="demo" class="text-light table table-borderless">
                    <tr class="text-white-50">
                        <th>Tankstelle/Betreiber</th>
                        <th>Kraftstoff</th>
                        <th>Stadt</th>
                        <th>Entfernung</th>
                    </tr>
                    {{#each tankstellen as |tankstelle|}}
                        <tr>
                            <td>{{tankstelle.operator}}</td>
                            <td>{{tankstelle.kraftstofftyp}}</td>
                            <td>{{tankstelle.stadt}}</td>
                            <td>{{tankstelle.entfernung}} Km</td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>
    </div>
</div>
